html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.text-green{
    color: #009970;
}

/*navbar */

.navbar-brand {
    position: relative;
    background: url(assets/ROYAL\ ONE\ logo.png);
    height: 100px;
    width: 200px;
    left: 15px;
    top: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.icon-wrapper {
    max-height: 50px;
    max-width: 50px;
}


.logo {
    background-image: url(assets/ROYAL\ ONE\ logo.png);
}
.green-button {

    background-color: #009970;
    color: #fff;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.green-button:hover {
    background-color: #00b383;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
}

.nav-link {
    color: black;
}

.font-white {
    color: #fff;
}

.white-button {
    
    background-color: #ffffff;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 16px 40px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;

}

.white-button:hover {
    background-color: rgb(115, 113, 113)
}


/*landing page */

.landing-page{
    background-image: url(assets/landing-page-room.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}



.landing-page:before{
    background-color: rgba(0, 0, 0, 0.593);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}



.landing-page .container {
    z-index: 2;
    position: relative;
    width: 100%;

}


  
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: 75vh;
    background: url("assets/eco-house-design.jpg") top left;
    background-size: cover;
    position: relative;
  }
  
  #hero:before {
    content: "";
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .container {
    position: relative;
  }
  
  #hero h1 {
    margin: 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #222222;
    font-family: "Poppins", sans-serif;
  }
  
  #hero h1 span {
    color: #106eea;
  }
  
  #hero h2 {
    color: #555555;
    margin: 5px 0 30px 0;
    font-size: 24px;
    font-weight: 400;
  }
  
  #hero .btn-get-started {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 28px;
    border-radius: 4px;
    transition: 0.5s;
    color: #fff;
    background: #106eea;
  }
  
  #hero .btn-get-started:hover {
    background: #247cf0;
  }
  
  #hero .btn-watch-video {
    font-size: 16px;
    transition: 0.5s;
    margin-left: 25px;
    color: #222222;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  
  #hero .btn-watch-video i {
    color: #106eea;
    font-size: 32px;
    transition: 0.3s;
    line-height: 0;
    margin-right: 8px;
  }
  
  #hero .btn-watch-video:hover {
    color: #106eea;
  }
  
  #hero .btn-watch-video:hover i {
    color: #3b8af2;
  }
  
  @media (min-width: 1024px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  @media (max-width: 768px) {
    #hero {
      height: 100vh;
    }
  
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  
    #hero .btn-get-started,
    #hero .btn-watch-video {
      font-size: 13px;
    }
  }
  
  @media (max-height: 500px) {
    #hero {
      height: 120vh;
    }
  }
  




/*assessment form */

.border-black {
    border-color: black;
}

.form {
    background-color: #009970;
    border-radius: 5px;
}

.assessment-button {
    
    background-color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 16px 40px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;

}

.assessment-button:hover {
    background-color: rgb(115, 113, 113)
}



/*products */

.green-bg {
    background-color: #009970;
}


.img-wrapper {
    max-height: 350px;
    max-width: 500px;
}

.img {
    height: 100%;
    width: 100%;
}

.white-font {
    color: #ffffff;
}

/*About Us*/

.img-shape{
    border-radius: 5px;
}

.img-wrapper-about {
    height: 400px;
    width: 700px;
}

.more-button {

    background-color: white;
    color: black;
    font-size: 14px;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.more-button:hover {
    background-color: rgb(115, 113, 113);
}


/*products */

.logo-wrapper {

    max-height: 150px;
    max-width: 250px;

}

/*Rebates*/

.rebate-wrapper{

    max-height: 200px;
    max-width: 400px;

}

/*map*/

.map-wrapper {
    max-height: 400px;
    max-width: 400px;

}


/*contact*/


.contact-page{
    background-image: url(assets/pexels-sarah-chai-7262405.jpg);
    background-size: cover;
    width: 100%;
    height: 50vh;
}

/*about*/

.house-page{
    background-image: url(assets/house.jpg);
    background-size: cover;
    width: 100%;
    height: 50vh;
}

/*aircon*/

.aircon-page{
    background-image: url(assets/air-conditioner-pic-1.jpg);
    background-size: cover;
    width: 100%;
}

.margin-top{
    margin-top: 110px;
}

.margin-top-airconditioner{
    margin-top: 110px;
}
.background-translucent{
    background: rgba(59, 151, 62, 0.816);
    border-radius: 2px;
}

.img-wrapper-eligibility {
    height: 400px;
    width: 500px;
}

.img-wrapper-heatpump {
    height: 400px;
    width: 400px;
}

.more-button-toggle-on{
    align-self: start;
    display: block;
}





@media only screen and (max-width:750px){

    .navbar-button-toggle{
        display:none;
    }

    .logo-wrapper{
        max-height: 125px;
        max-width: 125px;
    }


    .more-button-toggle-off{
        display: none;
    }

    .navbar-brand {
        position: relative;
        background: url(assets/ROYAL\ ONE\ logo.png);
        height: 80px;
        width: 150px;
        left: 15px;
        top: 10px;
        background-size: contain;
        background-repeat: no-repeat;
    }

}








